<div class="panel panel-info" style="margin-top: 2%;"> 
  <div class="panel-heading"><%= @survey.name %></div> 
    <div class="panel-body"> 
      <i><%= @attempt.survey.description %></i> 
    </div>
</div>
<ul class="list-group">
 <%= form_for(@attempt, url: attempt_scope(@attempt)) do |f| %>
  <%= hidden_field_tag :survey_id, @survey.id %>
    <%= f.fields_for :answers, get_answer_fields(@attempt) do |answer_fields| %>
    <% question = answer_fields.object.question %>
    <div class="panel panel-default"> 
      <div class="panel-heading"><%= question.text %></div> 
        <div class="panel-body"> 
          <%= collection_radio_buttons('survey_attempt[answers_attributes]', question.id, question.options, :id, :text) do |b| %>
            <li class="list-group-item">
              <%= b.label { b.radio_button + b.text } %>
            </li>
          <% end %>
        </div>
    </div>
    <% end -%>
  <%= f.submit "SUBMIT", class: 'btn btn-info' %>
  <% end -%>
</ul>